//
//  Secrets.xcconfig
//  CineMystApp
//
//  Created by user@50 on 19/11/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
SUPABASE_HOST = eocxatytnwzbiydwhnqx.supabase.co
SUPABASE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvY3hhdHl0bnd6Yml5ZHdobnF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0NDkyNzYsImV4cCI6MjA3OTAyNTI3Nn0.NqGf2tb6Bep48nO3QCFsy4TiSQx70Ymnn8VqqRGtuio
