//
//  Secrets.xcconfig
//  CineMystApp
//
//  Created by user@50 on 19/11/25.
//




SUPABASE_HOST = kyhyunyobgouumgwcigk.supabase.co
SUPABASE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5aHl1bnlvYmdvdXVtZ3djaWdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4NTE2MTIsImV4cCI6MjA4MzQyNzYxMn0.nedmSmu2O5ONolE1LguI5rsyv6GX8G6b2_GPmnWFkIg
